@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* line 1, static/styles/modules/header.scss */
.header {
  height: 58px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2; }
  /* line 9, static/styles/modules/header.scss */
  .header .logo {
    transform: rotate(180deg);
    height: 25px;
    fill: #292929; }
  /* line 15, static/styles/modules/header.scss */
  .header .title {
    font-size: 1.5em; }

/* line 3, static/styles/components/button.scss */
.button__primary {
  border: 1px solid #292929;
  border-radius: 12px;
  color: #292929;
  padding: 6px 12px;
  font-weight: 700; }

/* line 1, static/styles/components/modal.scss */
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; }
  /* line 14, static/styles/components/modal.scss */
  .modal .modal__content {
    height: 66%;
    width: 400px;
    background: white; }

/* line 10, static/styles/styles.scss */
* {
  font-family: "Open Sans", sans-serif; }
